
.form_element{
    margin: 10px 10px 5px 10px;
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}

.form_element label{
    font-size: 20px;

    margin-bottom: 10px;
    margin-left: 10px;
}

.form_element input{
    height: 30px;

    font-size: 20px;
    color: grey;

}
