
.form_input_element{
    margin: 10px 10px 5px 10px;
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;

}

.form_input_element_header{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form_input_element_header label{
    font-size: 20px;

    margin-bottom: 10px;
    margin-left: 10px;

    color: rgb(77, 77, 77);
}

.form_error_text{
    font-size: 18px;
    color: rgb(255, 70, 70);
}

.form_input_element input{
    height: 30px;

    font-size: 20px;
    color: rgb(77, 77, 77);

    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 10px;
}

.form_input_valid{
    background-color: whitesmoke;
}

.form_input_invalid{
    background-color: rgb(255, 174, 174);
}

.form_input_element textarea{
    font-size: 18px;
    resize: none;

    color: rgb(77, 77, 77);
    border-radius: 10px;
    border: none;

    padding: 10px 10px 10px 10px;
}

.form_input_element textarea:focus, .form_input_element input:focus{
    outline: 2px solid rgb(95, 123, 216);
}


.button_submit{
    margin-top: 10px;
    margin-bottom: 20px;

    width: 95%;
    height: auto;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;

    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.button_submit_enabled{
    background-color: rgb(95, 123, 216);
}

.button_submit_enabled:hover{
    background-color: whitesmoke;
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.button_submit_enabled:active{
    background-color: rgb(95, 123, 216);
    color: whitesmoke;
}



.button_submit_disabled{
    background-color: rgb(143, 164, 233);
}